<h1>Your Profile</h1>

<%= image_tag @user.avatar.url(:thumb) %>

<p>
  <strong>User Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>First Name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @user.last_name %>
</p>


<p>
  <strong>Birthday:</strong>
  <%= @user.birthday %>
</p>

<p>
  <strong>Phone Number:</strong>
  <%= @user.phone_number %>
</p>

<p>
  <strong>Points:</strong>
  <%= @user.points %>
</p>

<%= link_to "All Users' Profiles", users_path, {:class => 'btn btn-info', :role => 'button'}%>
<%= link_to 'Home', home_index_path, {:class => 'btn btn-info', :role => 'button'} %>
