<%= stylesheet_link_tag "home", media: "all" %>
<%= javascript_include_tag "particles" %>
<%= javascript_include_tag "home" %>

<div id="particles-js"></div>
<h1 id="page-title">CS-Food</h1>
<%= link_to 'Open orders', {controller: 'orders'}, {:class => 'btn btn-info', :role => 'button'} %>
<br/><br/>
<%= link_to 'My orders', {controller: 'orders', action: 'myorders'}, {:class => 'btn btn-info', :role => 'button'} %>
<br/><br/>
<%= link_to 'My picks', {controller: 'orders', action: 'mypicks'}, {:class => 'btn btn-info', :role => 'button'} %>
<br/><br/>
<%= link_to 'My history', {controller: 'orders', action: 'myhistory'}, {:class => 'btn btn-info', :role => 'button'} %>
<br/><br/>
<%= link_to 'New order', new_order_path, {:class => 'btn btn-info', :role => 'button'} %>


<div id="logout-div">
  <%=
    if current_user then
      link_to('Logout', destroy_user_session_url, {:method => :delete, :class => 'btn btn-info', :role => 'button'})
    else
      link_to('Login', new_user_session_url, {:class => 'btn btn-info', :role => 'button'})
    end
  %>
  <br/><br/>
  <%=
    if current_user then
      link_to('My Profile', current_user, {:class => 'btn btn-info', :role => 'button'})
    end
  %>
</div>
