<h1>My Orders</h1>

<table class="table table-striped table-bordered">
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th>Points</th>
    <th colspan="2"></th>
  </tr>

  <% @orders.each do |order| %>
      <tr>
        <td><%= order.title %></td>
        <td><%= order.text %></td>
        <td><%= order.points %></td>
        <td><%= link_to 'Show', order_path(order), {:class => 'btn btn-info', :role => 'button'} %></td>
        <td><%= link_to 'Edit', edit_order_path(order), {:class => 'btn btn-info', :role => 'button'} %></td>
        <td><%= link_to 'Delete', order_path(order, continue_to: myorders_orders_path), :method => :delete, :class => 'btn btn-info', :role => 'button' %></td>
      </tr>

  <% end %>
</table>
<%= link_to 'Back', home_index_path, {:class => 'btn btn-info', :role => 'button'} %>