<h1>New Order</h1>

<%= form_with scope: :order, url: orders_path, local: true do |form| %>

    <% if @order.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@order.errors.count, "error") %> prohibited this order from being created:
          </h2>
          <ul>
            <% @order.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <p>
      <%= form.label :title %><br>
      <%= form.text_field :title %>
    </p>

    <p>
      <%= form.label :text %><br>
      <%= form.text_area :text %>
    </p>

    <p>
      <%= form.label :first_item %>
      <%= form.text_field :item_1_text, id: 'item_1_text' %>
    </p>

    <p>
      <%= form.label :second_item %>
      <%= form.text_field :item_2_text, id: 'item_2_text' %>
    </p>

    <p>
      <%= form.label :third_item %>
      <%= form.text_field :item_3_text, id: 'item_3_text' %>
    </p>

    <p>
      <%= form.label :fourth_item %>
      <%= form.text_field :item_4_text, id: 'item_4_text' %>
    </p>

    <p>
      <%= form.label :fifth_item %>
      <%= form.text_field :item_5_text, id: 'item_5_text' %>
    </p>

    <p>
      <%= form.label :points %><br>
      <%= form.number_field :points %>
    </p>

    <p>
      <%= form.submit({:class => 'btn btn-info', :role => 'button'}) %>
    </p>
<% end %>
<%= link_to 'Cancel', orders_path, {:class => 'btn btn-info', :role => 'button'} %>

<script>
    function setup_autocomplete(str) {
        $("#" + str).on("input", function () {
            var text = $("#" + str).val();

            $.ajax({
                method: "GET",
                url: "/items/search/" + text
            }).done(function (msg) {
                $("#" + str).autocomplete({source: msg.items});
            });
        });
    }

    for(var i = 1; i <= 5; i++){
        setup_autocomplete("item_" + i + "_text");
    }
</script>
