<h1>New Order</h1>

<%= form_with scope: :order, url: orders_path, local: true do |form| %>

    <% if @order.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@order.errors.count,"error") %> prohibited this order from being created:
          </h2>
          <ul>
            <% @order.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
 
  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text %>
  </p>

  <p>
    <%= form.label :points %><br>
    <%= form.number_field :points%>
  </p>
 
  <p>
    <%= form.submit({:class => 'btn btn-info', :role => 'button'}) %>
  </p>
<% end %>
<%= link_to 'Cancel', orders_path, {:class => 'btn btn-info', :role => 'button'} %>
