<p>
  <strong>Title:</strong>
  <%= @order.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @order.text %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @order.user_id %>
</p>


<p>
  <strong>Deliverer:</strong>
  <%= @order.deliverer_id %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %>
<%= link_to 'Back', orders_path %>
